
{% if access == 'dept_type' %}
{% extends 'deptadmin.html' %}
    
{% else %}
   {% extends 'base.html' %}
{% endif %}


{% block title %}
Day wise reports
{% endblock %}

{% block ajax %}
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>


<script type="text/javascript">
$(document ).ready(function() { 
$("#day").on('change',function(){
    //alert("hai");
    var day= $('#day').val();
   
    data1={day:day,status:"day_wise",dept:$('#dept').val(),course:$('#course').val(),sem:$('#sem').val()};

    //alert(data1['table']);
          
           $.ajax({
              type: "POST",
              url: "/get_report",
              data:JSON.stringify(data1),
              contentType: "application/json",
              success:function(resp){
                //alert(resp);
                $('#desc').html(resp.describe);
                //$('#course').html(resp.course);
                }
            });
  
      });


$("#dept").on('change',function(){
//alert("hai");
var dept= $('#dept').val();

if($('#day').val())
{
    //ok
    //alert("generating dept reports");

    data1={day:$('#day').val(),status:"day_wise",dept:$('#dept').val(),course:$('#course').val(),sem:$('#sem').val()};

    var json_course= JSON.parse('{{ all_course | tojson | safe }}');

    str1="<option value='' disabled='disabled' selected='true'>Select Course</option>";

    var dept=$('#dept').val();
    for(i in json_course)
    {
        if(json_course[i][3]==dept)
        {
            str1+="<option>"+json_course[i][1]+"</option>";

            document.getElementById('course').innerHTML=str1;

        }

    }
    
    $.ajax({
            type: "POST",
            url: "/get_report",
            data:JSON.stringify(data1),
            contentType: "application/json",
            success:function(resp){
            //alert(resp);
            $('#desc').html(resp.describe);
            }
        });
}
else
{
    alert("Please select Day also");
}
});

$("#course").on('change',function(){
//alert("hai");
var course= $('#course').val();

if($('#day').val())
{
    
    data1={day:$('#day').val(),status:"day_wise",dept:$('#dept').val(),course:$('#course').val(),sem:$('#sem').val()};
        
    $.ajax({
            type: "POST",
            url: "/get_report",
            data:JSON.stringify(data1),
            contentType: "application/json",
            success:function(resp){
            //alert(resp);
            $('#desc').html(resp.describe);
            }
        });
}
else
{
    alert("Please select Day also");
}
});




$("#sem").on('change',function(){
//alert("hai");
var sem= $('#sem').val();

    if($('#day').val() && $('#dept').val() )
    {
        //ok
        alert("generating course/odd/even reports");

        data1={day:$('#day').val(),status:"day_wise",dept:$('#dept').val(),course:$('#course').val(),sem:$('#sem').val()};
            
        $.ajax({
                type: "POST",
                url: "/get_report",
                data:JSON.stringify(data1),
                contentType: "application/json",
                success:function(resp){
                //alert(resp);
                $('#desc').html(resp.describe);
                }
            });
    }
    else
    {
        alert("Please select Day/Department/Course also");
    }

});


      $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();

      $("#desc #myTable2  tr").filter(function() {
         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
   });
    }); 
    
    
</script>
{% endblock %}
{% block body %}

<div class="container-fluid">
    
<style>
    #jumbo {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
</style>

    <h2>Daywise Report</h2>
    <div class="jumbotron my-auto" id="jumbo">
    <div>
    <div class="table-responsive">
    <table class="table " style="background-color:white" id="myTable">
    <tr>
    <td align="right" width=20%>
                    <h4>Day:</h4>
    </td>
    <td align="left">
        <select class="form-control" id="day" name="day">
            <option value='' disabled='disabled' selected='true'>Select Day</option>


            {% for i in day_list %}
            <option value="{{i}}">{{i}}</option>

            {% endfor %}
            
        </select>
    </td>

    <td align="right" width=20%>
        <h4>Department :</h4>
        </td>
                
    <td align="right">
        <select class="form-control" id="dept" name="dept">
        <option value='' disabled='disabled' selected='true'>Select Department</option>

        {% for i in all_dept %}
        <option value="{{i.name}}">{{i.name}}</option>

        {% endfor %}
            
        </select>
    </td>

    </tr>

    <tr>

    <td align="right" width=20%>
        <h4>Course :</h4>
        </td>

        <td align="right"  >
            <select class="form-control" id="course" name="course">
            <option value='' disabled='disabled' selected='true'>Select Course</option>
                
            </select>
        </td>

    <td align="right" width=20%>
        <h4>semisters :</h4>
        </td>
    
            <td align="right"  >
                <select class="form-control" id="sem" name="sem">
                    <option value='' disabled='disabled' selected='true'>Odd/Even</option>

                    <option>Odd</option>
                    <option>Even</option>
                    
                </select>
            </td>
    <td>
        <!--<a id="excel" class="btn btn-primary" href = "/reports/daywise_report/excel/">Export to Excel
                    </a>-->
    </td>
    </tr>
    </table>
    <input type="text" class="form-control" id="myInput"/>
    <div class="table-responsive" id="" >
        <table class="table table-bordered" id="desc" style="background-color:white;">
    </table>        
    </div>
    </div>
    <center>
        <div id="spinner" style="display:none;" align="center">
        <img id="img-spinner" align="center" height="20%" width="20%" src="{{ url_for('static', filename='spin.gif') }}" alt="Loading"/>
                            
        </div>

    </center>
     
    </div>
    </div>
    <br/>
    <script>
     $(document).bind("ajaxSend", function(){
       $("#spinner").show();
     }).bind("ajaxComplete", function(){
       $("#spinner").hide();
     });


</script>



</div>


</script>




{% endblock %}