<!doctype html>
<!-- https://www.codeproject.com/Questions/1229268/Bootstrap-login-form-placing-it-in-the-middle-of-t -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Faculty table</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
       

</head>
<body style="background-color:#103849 ;">

    <div class="table-responsive" >
        <table class="table" style="background-color:white;">
            <tr>
                <td>
                    <b>Faculty Name:</b> {{faculty}}
                </td>

                <td>
                    <b>Department:</b> {{dept}}
                </td>

                <td style="padding-left:10%">
                    <a class="navbar-brand" href="{{url_for('logout')}}"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">LOGOUT</button></a> 
                </td>
            </tr>  
            <tr>
                <td>
                    <b>Designation:</b> {{designation}}
                </td>
                <td>
                    <b>Work_load:</b> {{work_load}}
                </td>  
                <td style="padding-left:10%">                                     
                    <a class="navbar-brand" href="/change_faculty_password"><button type="button" class="btn btn-info" >Change Password</button></a>                       
                </td>
            </tr> 
            
            
        </table>
    </div>


<table class="table table-bordered" id="myTable" style="background-color:white;">
    
    
    <thead>
        <tr>
            {% for j in range(periods+1) %}

                {% if j==0 %}
                    <th style="text-align: center;background-color: #4CAF50;color:white">Day/periods</th>
                {% else %}
                    <th style="text-align: center;background-color: #4CAF50;color:white" >{{j}}</th>

                {% endif %}

            {% endfor %}	
        </tr>
    </thead>

    <tbody>
    {% for i in fac %}
        
                <tr  height="80px">

                    {% for j in range(periods+1)%}

                        {% if j==0 %}
                            <td style="text-align: center;background-color: #4CAF50;color:white"><b>{{i[j]}}</b></td>
                        {% else %}
                            <td >{{i[j]}}</td>
                        {% endif%}


                    {% endfor %}	
                </tr> 

    {% endfor %}

</tbody>
</table>


<table class="table table-bordered" style="background-color:white">

    <thead>
    <tr style="text-align:center; background-color: #4CAF50;color:white">
        
        <th>faculty</th>        
        <th>class</th>
        <th>subject</th>
        <th>type</th>
        <th>lab</th>
        <th>total configured</th>
        <th>Periods allocated</th>
        <th>Day/Period</th>
    </tr>
    </thead>
    <tbody>
        {% for i in des %}
        {% if faculty is in i.faculty %}
        <tr style="text-align:center">
            <td>{{i.faculty}}</td>
            <td>{{i.classname}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.type}}</td>
            <td>{{i.lab}}</td>
            <td>{{i.total_periods}}</td>
            {% if i.total_periods != i.allocated %}
            <td style="background-color:#FF0000">{{i.allocated}}</td>
            {% else %}
            <td>{{i.allocated}}</td>
            {% endif %}

            <td>{{ i.dayperiod }}</td>
        </tr> 
        {% endif %}
    {% endfor %}
    </tbody>
    </table>

</body>
</html>