<!doctype html>
<!-- https://www.codeproject.com/Questions/1229268/Bootstrap-login-form-placing-it-in-the-middle-of-t -->


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login</title>
        
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

      <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        
<style>
.form-signin
{

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    margin-top:200px;

    background-color:#F5F5F5;
    border: 1px solid rgba(0,0,0,0.1);
}

#heading
{
    padding-bottom: 20px;
}
#top
{
  padding-left: 25%;
}
</style>
</head>

<body style="background-color:#eef3f5 ;">



  <div class="container-fluid">

    
    <center>
        <div id="spinner" style="display:none;" align="center">
                            <img id="img-spinner" height="100%" width="15%" align="center" src="{{ url_for('static', filename='spin.gif') }}" alt="Loading"/>
                            Please wait It will take sometime
        </div>
    </center>

    <div class="Absolute-Center is-Responsive" id="top">


      


      <div class="col-lg-8  ">


        {% with messages = get_flashed_messages() %}
    
        {% if messages %}

        {% for message in messages %}

        <div class="alert alert-success alert-dismissable" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="close">

                <span aria-hidden="true">x</span>

            </button>


        {{message}}


        </div>


        {% endfor %}

        {% endif %}
        {% endwith %}

       <form  align="align-items-center" id="form" class="form-signin " method="post" action="">

         <div class="d-flex justify-content-center align-items-center" >
          <h2  id="heading" class="form-signin-heading"> <strong >Reset Password</strong></h2>
        </div>

        <div class="form-group">
         <label for="email" class="sr-only">Email address</label>
         <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
         </div>


        <div class="form-group">
            <center><input type="button"  class="next action-button" value="GET OTP"></center>
        </div>
        
        <div class="form-group" id="otpForm" hidden>
            <form action="" method="post">

            <div class="form-group">
                <input type="number" maxlength="4" id="otp" name="otp" placeholder="Enter OTP" required class="form-control">
            </div>

            <div class="form-group">
                <input type="password" name="password" placeholder="Password" id="password" required class="form-control">             
            </div>
            <div class="form-group">
                <input type="password" name="cnfrmpassword" placeholder="Confirm Password" id="confirm" required class="form-control"> 
            </div>
                <center><button type="button" class="otpSubmit action-button ">SUBMIT</button></center>
    
            </form> 
        </div>
       </form>

       <!-- hidden div -->

    </div>

</div>

</div>

</body>
<script>


    $(document).ready(function() 
    {
        $(document).bind("ajaxSend", function(){
        $("#spinner").show();
        }).bind("ajaxComplete", function(){
        $("#spinner").hide();
        });

        $(".next").click(function() 
        {
            if(document.getElementById('email').value=='')
            {
                //alert(document.getElementById('email').value);
                alert("Email is Valid and Required");
                document.getElementById('email').value.focus();
                return;
            }
            //alert(document.getElementById('email').value);
            var mail=document.getElementById('email').value
            data ={email:mail}
            alert(data['email']);
            $.ajax({
                type : 'POST',
                url : '/forgotpassword',
                contentType: "application/json",
                data:JSON.stringify(data),
                success: function(resp) {

                    if(resp.msg)
                    {
                         alert(resp.msg);
                    }
                    
                    if(resp.otp)
                    { 


                        document.getElementById("otpForm").hidden=false;
        
                    }

                
                },
                error: function(jqXHR, textStatus, errorThrown) {
                alert(textStatus);}

            });
        });

            $(".otpSubmit").click(function() 
            {
                if(document.getElementById('otp').value=='')
                {
                    //alert(document.getElementById('email').value);
                    alert("Otp is Valid and Required");
                    return;
                }
                if(document.getElementById('password').value=='')
                {
                    //alert(document.getElementById('email').value);
                    alert("Password is Valid and Required");
                    return;
                }
                if(document.getElementById('confirm').value=='')
                {
                    //alert(document.getElementById('email').value);
                    alert("Confirm password is Valid and Required");
                    return;
                }

                var otp=document.getElementById('otp').value;

                var pass=document.getElementById('password').value;
                var cnf=document.getElementById('confirm').value;
                data ={otp:otp,pass:pass,cnf:cnf}
                //alert(data['otp']);
                $.ajax({
                    type : 'POST',
                    url : '/forgotpassword',
                    contentType: "application/json",
                    data:JSON.stringify(data),
                    success: function(resp) {

                        if(resp.msg)
                        {
                            alert(resp.msg);
                        }                
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                    alert(textStatus);}

                });


        });  
        event.preventDefault();
            
    });
</script>


</html>